.layout{

    display:flex;

    min-height:100vh;

    background:#EEF4FF;

}

.content{

    flex:1;

    padding:25px;

    overflow-y:auto;

}

@media(max-width:900px){

    .content{

        padding:15px;

    }

}