<aside class="sidebar">

    <div>

        <div class="logo">

            📬

            <h2>ZIP ZIP INFO</h2>

        </div>

        <ul>

            <li routerLink="/dashboard" routerLinkActive="active">
                🏠 Dashboard
            </li>

            <li routerLink="/subscribers" routerLinkActive="active">
                👥 Subscribers
            </li>

            <li routerLink="/newsletters" routerLinkActive="active">
                📰 Publish Newsletter
            </li>

            <li routerLink="/manage-newsletters" routerLinkActive="active">
                📚 Manage Newsletters
            </li>

            <li routerLink="/reports" routerLinkActive="active">
                📊 Reports
            </li>

            <li routerLink="/settings" routerLinkActive="active">
                ⚙ Settings
            </li>

        </ul>

    </div>

    <button
        class="logout-btn"
        (click)="logout()">

        🚪 Logout

    </button>

</aside>